* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    font-size: 56px;
    line-height: 63px;
    letter-spacing: -0.004em;
    margin-top: 40px;
    margin-bottom: 47px;
    text-align: center;
}

.container {
    width: 100%;
}

.cards {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div span {
    width: 160px;
    height: 240px;
    position: relative;
    margin-right: 34px;
    margin-bottom: 34px; 
}

span div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #a7e9af;
    border: 3px solid #99cea8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.unturned /*VERSO*/ {
    transform: rotateY(180deg); 
    background-color: aqua;
}

.turn {
    transform: rotateY(180deg); 
}

.turned {
    transform: rotateY(0deg);
}

img {
    width: 100px;
    height: 100px;
}

